* {
    font-family: "0xProto Nerd Font";
    }

/* Основной контейнер бара */
window#waybar {
    min-height: 8px;  /* Нужная высота панели (подберите: 16–24 обычно достаточно) */
    background: rgba(1, 0, 0, 0.7) ; /* Ваш цвет фона */
    color: #cdd6f4;
    margin-left: 3px;
    margin-right: 3px;
}

/* Убираем лишние отступы у всех модулей */
#waybar * {
    padding: 0 1px;
    margin: 0;
}

/* Опционально: уменьшаем шрифт и иконки */
#waybar .modules-left,
#waybar .modules-right,
#waybar .modules-center {
    font-size: 10px;
}

#workspaces {
    border: 2px;
    border-color: rgba(255, 255, 255, 1);
}

#tray {
    border: 2px;
    border-color: rgba(255, 255, 255, 1);
}

#clock {
    border: 2px;
    border-color: rgba(255, 255, 255, 1);
}

/* 🔲 Границы для всех основных модулей */
#battery, #clock, #network, #wireplumber, #backlight,
#memory, #cpu, #temperature, #disk, #tray, #workspaces, #custom-launcher, #custom-power {
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 5px;
    border: 1px solid #585b70;
    padding-left: 2px;
    padding-right: 2px;
}

#custom-launcher {
    min-width: 20px;
}

#tray {
    min-width: 20px;
}

#memory {
    min-width: 70px;
}


/* 🎨 Опционально: разный цвет границ по зонам */
.modules-left > *   { border-color: #89b4fa; }
.modules-center > * { border-color: #cba6f7; }
.modules-right > *  { border-color: #a6e3a1; }
